extends layout.pug

block content
	.container.main
		.row.col-md-13.text-light
			p(style="font-size: 29px; text-align: left; font-weight: 500; padding-top: 60px;") Ini merupakan sebuah percobaan untuk memakai produk service IBM Security Verify yang mana diaplikasikan kedalam sebuah website dalam bentuk prototipe
		button.btn.btn-primary.mt-5(onclick='authorizeApplication(event)') Device code
